<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de ingreso</title>
</head>

<body>
    <form action="">
        <label for="txtNombre">Nombre:</label>
        <input type="text" id="txtNombre" name="nombre">
        <label for="idEdad">Edad:</label>
        <input type="number" id="idEdad" name="edad">
        <label for="idGenero">Genero:</label>
        <input type="text" id="idGenero" name="genero">
        <button type="submit">Enviar</button>
    </form>
</body>

</html>