<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesion</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="container">
        <div class="card container-form">
            <h1 class="title">Iniciar Sesion</h1>

            <form action="" class="form">
                <label for="" class="txt__form">Correo: </label><br>
                <input type="text" placeholder="Ingrese correo electronico"><br>

                <label for="" class="txt__form">Contraseña: </label><br>
                <input type="password" placeholder="Ingrese su contraseña"><br>

                <button class="btnSend">
                    Entrar
                </button>
            </form>
            <a href="" class="pwd">Contraseña olvidada</a>
            <a href="./registro.html" class="pwd">Registrarse</a>
            <a href="./menu.html" class="pwd">Entrar</a>
        </div>
        <div class="card container-txt">
            <h2 class="title">Bienvenido a la institucion N° 0000</h2>
        </div>
    </div>
</body>

</html>